body{
  background: repeating-linear-gradient( 
    90deg,
    #fff,
    #fff 20px,
    rgb(243, 243, 243) 20px,
    rgb(243, 243, 243) 40px)

}


.App {
  text-align: center;
  font-family: Helvetica;
}

.pic {
  width: 130px;
  height: 130px;
  margin:10px;
}

.button{ 
  width: 100px; 
  height: 30px; 
  border-radius: 4px;
  margin-top: 10px;
  border:1px;
  font-family: Helvetica;
}

button:hover{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
  border: solid 1px #fff;
  color: whitesmoke;
  -webkit-appearance: none;
 
}

.print{
  color: black;
}











