body{
  background: repeating-linear-gradient( 
    90deg,
    #fff,
    #fff 20px,
    rgb(243, 243, 243) 20px,
    rgb(243, 243, 243) 40px);
  font-size: 25px;

}


.App {
  text-align: center;
  font-family: Helvetica;

}

.pic {
  width: 228px;
  height: 228px;
  margin:18px;
}

.button{ 
  width: 175px; 
  height: 53px; 
  border-radius: 7px;
  margin-top: 17px;
  border:1px;
  font-family: Helvetica;
  font-size: 20px;
}

button:hover{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
  border: solid 1px #fff;
  color: whitesmoke;
  -webkit-appearance: none;
 
}

.print{
  color: black;
}











